## Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from mplsoccer import Pitch
import pickle as pkl

import warnings
warnings.filterwarnings('ignore')

## Extraccion de datos

In [2]:
df_events = pd.read_csv('D:\Futbol\Analisis presion alata en PL 23-24\data\pl_23-24_events.csv')

equipos = \
{
13: 'Arsenal',
15: 'Chelsea',
23: 'Newcastle Utd',
24: 'Aston Villa',
26: 'Liverpool',
29: 'West Ham',
30: 'Tottenham',
31: 'Everton',
32: 'Manchester Utd',
95: 'Luton Town',
161: 'Wolves',
162: 'Crystal Palace',
163: 'Sheffield Utd',
167: 'Manchester City',
170: 'Fulham',
174: "Nott'ham Forest",
183: 'Bournemouth',
184: 'Burnley',
189: 'Brentford',
211: 'Brighton'
}

df_equipos = pd.DataFrame(list(equipos.items()), columns=['teamId', 'Equipo'])

In [12]:
df_events.columns.to_list()

['Unnamed: 0',
 'id',
 'eventId',
 'minute',
 'second',
 'teamId',
 'h_a',
 'x',
 'y',
 'expandedMinute',
 'period',
 'type',
 'outcomeType',
 'qualifiers',
 'satisfiedEventsTypes',
 'isTouch',
 'matchId',
 'startDate',
 'startTime',
 'score',
 'ftScore',
 'htScore',
 'etScore',
 'venueName',
 'maxMinute',
 'playerId',
 'playerName',
 'endX',
 'endY',
 'relatedEventId',
 'relatedPlayerId',
 'goalMouthZ',
 'goalMouthY',
 'isGoal',
 'isShot',
 'blockedX',
 'blockedY',
 'cardType',
 'shotBodyType',
 'situation',
 'shotSixYardBox',
 'shotPenaltyArea',
 'shotOboxTotal',
 'shotOpenPlay',
 'shotCounter',
 'shotSetPiece',
 'shotDirectCorner',
 'shotOffTarget',
 'shotOnPost',
 'shotOnTarget',
 'shotsTotal',
 'shotBlocked',
 'shotRightFoot',
 'shotLeftFoot',
 'shotHead',
 'shotObp',
 'goalSixYardBox',
 'goalPenaltyArea',
 'goalObox',
 'goalOpenPlay',
 'goalCounter',
 'goalSetPiece',
 'penaltyScored',
 'goalOwn',
 'goalNormal',
 'goalRightFoot',
 'goalLeftFoot',
 'goalHead',
 'goalObp',
 'shortPassInaccurate',
 'shortPassAccurate',
 'passCorner',
 'passCornerAccurate',
 'passCornerInaccurate',
 'passFreekick',
 'passBack',
 'passForward',
 'passLeft',
 'passRight',
 'keyPassLong',
 'keyPassShort',
 'keyPassCross',
 'keyPassCorner',
 'keyPassThroughball',
 'keyPassFreekick',
 'keyPassThrowin',
 'keyPassOther',
 'assistCross',
 'assistCorner',
 'assistThroughball',
 'assistFreekick',
 'assistThrowin',
 'assistOther',
 'dribbleLost',
 'dribbleWon',
 'challengeLost',
 'interceptionWon',
 'clearanceHead',
 'outfielderBlock',
 'passCrossBlockedDefensive',
 'outfielderBlockedPass',
 'offsideGiven',
 'offsideProvoked',
 'foulGiven',
 'foulCommitted',
 'yellowCard',
 'voidYellowCard',
 'secondYellow',
 'redCard',
 'turnover',
 'dispossessed',
 'saveLowLeft',
 'saveHighLeft',
 'saveLowCentre',
 'saveHighCentre',
 'saveLowRight',
 'saveHighRight',
 'saveHands',
 'saveFeet',
 'saveObp',
 'saveSixYardBox',
 'savePenaltyArea',
 'saveObox',
 'keeperDivingSave',
 'standingSave',
 'closeMissHigh',
 'closeMissHighLeft',
 'closeMissHighRight',
 'closeMissLeft',
 'closeMissRight',
 'shotOffTargetInsideBox',
 'touches',
 'assist',
 'ballRecovery',
 'clearanceEffective',
 'clearanceTotal',
 'clearanceOffTheLine',
 'dribbleLastman',
 'errorLeadsToGoal',
 'errorLeadsToShot',
 'intentionalAssist',
 'interceptionAll',
 'interceptionIntheBox',
 'keeperClaimHighLost',
 'keeperClaimHighWon',
 'keeperClaimLost',
 'keeperClaimWon',
 'keeperOneToOneWon',
 'parriedDanger',
 'parriedSafe',
 'collected',
 'keeperPenaltySaved',
 'keeperSaveInTheBox',
 'keeperSaveTotal',
 'keeperSmother',
 'keeperSweeperLost',
 'keeperMissed',
 'passAccurate',
 'passBackZoneInaccurate',
 'passForwardZoneAccurate',
 'passInaccurate',
 'passAccuracy',
 'cornerAwarded',
 'passKey',
 'passChipped',
 'passCrossAccurate',
 'passCrossInaccurate',
 'passLongBallAccurate',
 'passLongBallInaccurate',
 'passThroughBallAccurate',
 'passThroughBallInaccurate',
 'passThroughBallInacurate',
 'passFreekickAccurate',
 'passFreekickInaccurate',
 'penaltyConceded',
 'penaltyMissed',
 'penaltyWon',
 'passRightFoot',
 'passLeftFoot',
 'passHead',
 'sixYardBlock',
 'tackleLastMan',
 'tackleLost',
 'tackleWon',
 'cleanSheetGK',
 'cleanSheetDL',
 'cleanSheetDC',
 'cleanSheetDR',
 'cleanSheetDML',
 'cleanSheetDMC',
 'cleanSheetDMR',
 'cleanSheetML',
 'cleanSheetMC',
 'cleanSheetMR',
 'cleanSheetAML',
 'cleanSheetAMC',
 'cleanSheetAMR',
 'cleanSheetFWL',
 'cleanSheetFW',
 'cleanSheetFWR',
 'cleanSheetSub',
 'goalConcededByTeamGK',
 'goalConcededByTeamDL',
 'goalConcededByTeamDC',
 'goalConcededByTeamDR',
 'goalConcededByTeamDML',
 'goalConcededByTeamDMC',
 'goalConcededByTeamDMR',
 'goalConcededByTeamML',
 'goalConcededByTeamMC',
 'goalConcededByTeamMR',
 'goalConcededByTeamAML',
 'goalConcededByTeamAMC',
 'goalConcededByTeamAMR',
 'goalConcededByTeamFWL',
 'goalConcededByTeamFW',
 'goalConcededByTeamFWR',
 'goalConcededByTeamSub',
 'goalConcededOutsideBoxGoalkeeper',
 'goalScoredByTeamGK',
 'goalScoredByTeamDL',
 'goalScoredByTeamDC',
 'goalScoredByTeamDR',
 'goalScoredByTeamDML',
 'goalScoredByTeamDMC',
 'goalScoredByTeamDMR',
 'goalScoredByTeamML',
 'goalScoredByTeamMC',
 'goalScoredByTeamMR',
 'goalScoredByTeamAML',
 'goalScoredByTeamAMC',
 'goalScoredByTeamAMR',
 'goalScoredByTeamFWL',
 'goalScoredByTeamFW',
 'goalScoredByTeamFWR',
 'goalScoredByTeamSub',
 'aerialSuccess',
 'duelAerialWon',
 'duelAerialLost',
 'offensiveDuel',
 'defensiveDuel',
 'bigChanceMissed',
 'bigChanceScored',
 'bigChanceCreated',
 'overrun',
 'successfulFinalThirdPasses',
 'punches',
 'penaltyShootoutScored',
 'penaltyShootoutMissedOffTarget',
 'penaltyShootoutSaved',
 'penaltyShootoutSavedGK',
 'penaltyShootoutConcededGK',
 'throwIn',
 'subOn',
 'subOff',
 'defensiveThird',
 'midThird',
 'finalThird',
 'pos',
 'EPV',
 'isOwnGoal']

In [9]:
df_events['type'].unique()

array(['Start', 'Pass', 'Aerial', 'BallRecovery', 'Clearance',
       'BlockedPass', 'Dispossessed', 'Tackle', 'Foul', 'TakeOn',
       'BallTouch', 'ShieldBallOpp', 'CornerAwarded', 'Goal',
       'KeeperSweeper', 'MissedShots', 'KeeperPickup', 'Interception',
       'OffsideGiven', 'OffsidePass', 'OffsideProvoked', 'SavedShot',
       'Save', 'SubstitutionOff', 'SubstitutionOn', 'FormationChange',
       'Challenge', 'Error', 'Smother', 'End', 'Claim', 'Card',
       'FormationSet', 'Punch', 'ShotOnPost', 'PenaltyFaced', 'GoodSkill',
       'ChanceMissed', 'CrossNotClaimed'], dtype=object)

## Tackles

In [3]:
df_tackle = df_events[(df_events['type'] == 'Tackle')][['eventId', 'matchId', 'teamId', 'minute', 'second', 'h_a', 'x', 'y', 'tackleLastMan', 'tackleLost', 'tackleWon']]

In [4]:
tackle_def3rd = 0 + (100 - 0) / 3
tackle_mid3rd = tackle_def3rd + (100 - 0) / 3

df_tackle['tackle_def3rd'] = df_tackle['x'] <= tackle_def3rd
df_tackle['tackle_mid3rd'] = (df_tackle['x'] > tackle_def3rd) & (df_tackle['x'] < tackle_mid3rd)
df_tackle['tackle_att3rd'] = df_tackle['x'] >= tackle_mid3rd
df_tackle['tackle_won_def3rd'] = df_tackle.apply(lambda row: row['tackleWon'] and row['tackle_def3rd'], axis=1)
df_tackle['tackle_won_mid3rd'] = df_tackle.apply(lambda row: row['tackleWon'] and row['tackle_mid3rd'], axis=1)
df_tackle['tackle_won_att3rd'] = df_tackle.apply(lambda row: row['tackleWon'] and row['tackle_att3rd'], axis=1)

In [8]:
df_tackle_g = df_tackle.groupby('teamId').agg(tackle=('eventId', 'count'),
                                              tackle_won=('tackleWon', lambda x: x.sum()),
                                              tackle_lost=('tackleLost', lambda x: x.sum()),
                                              tackle_lastman=('tackleLastMan', lambda x: x.sum()),
                                              tackle_def3rd=('tackle_def3rd', lambda x: x.sum()),
                                              tackle_mid3rd=('tackle_mid3rd', lambda x: x.sum()),
                                              tackle_att3rd=('tackle_att3rd', lambda x: x.sum()),
                                              tackle_won_def3rd=('tackle_won_def3rd', lambda x: x.sum()),
                                              tackle_won_mid3rd=('tackle_won_mid3rd', lambda x: x.sum()),
                                              tackle_won_att3rd=('tackle_won_att3rd', lambda x: x.sum())
                                             ).reset_index()

In [7]:
df_tackle_stats = pd.merge(df_tackle_g, df_equipos, on='teamId')
df_tackle_stats[['teamId', 'Equipo', 'tackle', 'tackle_won', 'tackle_lost', 'tackle_lastman',
                 'tackle_def3rd', 'tackle_mid3rd', 'tackle_att3rd', 'tackle_won_def3rd',
                 'tackle_won_mid3rd', 'tackle_won_att3rd']]

,teamId,Equipo,tackle,tackle_won,tackle_lost,tackle_lastman,tackle_def3rd,tackle_mid3rd,tackle_att3rd,tackle_won_def3rd,tackle_won_mid3rd,tackle_won_att3rd
0,13,Arsenal,610,348,262,6,257,246,107,147,145,56
1,15,Chelsea,663,376,287,3,325,235,103,192,133,51
2,23,Newcastle Utd,661,391,270,6,316,254,91,185,153,53
3,24,Aston Villa,547,311,236,5,269,210,68,150,118,43
4,26,Liverpool,677,418,259,9,274,290,113,174,176,68
5,29,West Ham,684,426,258,4,350,254,80,203,170,53
6,30,Tottenham,724,451,273,10,335,264,125,210,167,74
7,31,Everton,743,442,301,10,371,261,111,229,149,64
8,32,Manchester Utd,676,409,267,5,334,240,102,200,148,61
9,95,Luton Town,654,368,286,5,330,236,88,191,132,45
10,161,Wolves,739,430,309,1,415,247,77,237,146,47
11,162,Crystal Palace,788,464,324,4,373,301,114,213,187,64
12,163,Sheffield Utd,709,405,304,10,375,248,86,222,142,41
13,167,Manchester City,517,305,212,3,183,221,113,124,119,62
14,170,Fulham,679,384,295,3,339,260,80,180,158,46
15,174,Nott'ham Forest,728,429,299,4,437,219,72,257,125,47
16,183,Bournemouth,693,410,283,4,301,281,111,190,154,66
17,184,Burnley,607,342,265,7,282,247,78,157,141,44
18,189,Brentford,677,399,278,4,349,250,78,211,137,51
19,211,Brighton,644,366,278,2,292,252,100,165,144,57

In [13]:
with open('D:\Futbol\Analisis presion alata en PL 23-24\pkl\df_tackle_stats.pkl', 'wb') as archivo:
    pkl.dump(df_tackle_stats, archivo, protocol=pkl.HIGHEST_PROTOCOL)

In [14]:
with open('D:\Futbol\Analisis presion alata en PL 23-24\pkl\df_tackle_stats.pkl', 'rb') as archivo:
    df_tackle_stats = pkl.load(archivo)

## Intercepciones

In [7]:
df_int = df_events[(df_events['type'] == 'Interception')][['eventId', 'matchId', 'teamId', 'minute', 'second', 'h_a', 'x', 'y', 'interceptionAll', 'interceptionIntheBox', 'interceptionWon']]

In [9]:
int_def3rd = 0 + (100 - 0) / 3
int_mid3rd = int_def3rd + (100 - 0) / 3

df_int['int_def3rd'] = df_int['x'] <= int_def3rd
df_int['int_mid3rd'] = (df_int['x'] > int_def3rd) & (df_int['x'] < int_mid3rd)
df_int['int_att3rd'] = df_int['x'] >= int_mid3rd
df_int['int_won_def3rd'] = df_int.apply(lambda row: row['interceptionWon'] and row['int_def3rd'], axis=1)
df_int['int_won_mid3rd'] = df_int.apply(lambda row: row['interceptionWon'] and row['int_mid3rd'], axis=1)
df_int['int_won_att3rd'] = df_int.apply(lambda row: row['interceptionWon'] and row['int_att3rd'], axis=1)

In [14]:
df_int_g = df_int.groupby('teamId').agg(int=('eventId', 'count'),
                                              int_won=('interceptionWon', lambda x: x.sum()),
                                              int_def3rd=('int_def3rd', lambda x: x.sum()),
                                              int_mid3rd=('int_mid3rd', lambda x: x.sum()),
                                              int_att3rd=('int_att3rd', lambda x: x.sum()),
                                              int_won_def3rd=('int_won_def3rd', lambda x: x.sum()),
                                              int_won_mid3rd=('int_won_mid3rd', lambda x: x.sum()),
                                              int_won_att3rd=('int_won_att3rd', lambda x: x.sum())
                                             ).reset_index()

In [15]:
df_int_g

,teamId,int,int_won,int_def3rd,int_mid3rd,int_att3rd,int_won_def3rd,int_won_mid3rd,int_won_att3rd
0,13,292,292,103,139,50,103,139,50
1,15,298,298,132,128,38,132,128,38
2,23,285,285,132,126,27,132,126,27
3,24,236,236,115,97,24,115,97,24
4,26,292,292,101,156,35,101,156,35
5,29,361,361,195,134,32,195,134,32
6,30,355,355,135,162,58,135,162,58
7,31,358,358,167,146,45,167,146,45
8,32,313,313,171,111,31,171,111,31
9,95,325,325,163,146,16,163,146,16
10,161,284,284,135,118,31,135,118,31
11,162,323,323,155,148,20,155,148,20
12,163,347,347,196,134,17,196,134,17
13,167,233,233,83,114,36,83,114,36
14,170,371,371,186,157,28,186,157,28
15,174,331,331,200,110,21,200,110,21
16,183,357,357,159,163,35,159,163,35
17,184,280,280,135,124,21,135,124,21
18,189,378,378,200,149,29,200,149,29
19,211,288,288,123,138,27,123,138,27

In [17]:
df_int_stats = pd.merge(df_int_g, df_equipos, on='teamId')
df_int_stats[['teamId', 'Equipo', 'int', 'int_won', 'int_def3rd',
              'int_mid3rd', 'int_att3rd', 'int_won_def3rd',
              'int_won_mid3rd', 'int_won_att3rd']]

,teamId,Equipo,int,int_won,int_def3rd,int_mid3rd,int_att3rd,int_won_def3rd,int_won_mid3rd,int_won_att3rd
0,13,Arsenal,292,292,103,139,50,103,139,50
1,15,Chelsea,298,298,132,128,38,132,128,38
2,23,Newcastle Utd,285,285,132,126,27,132,126,27
3,24,Aston Villa,236,236,115,97,24,115,97,24
4,26,Liverpool,292,292,101,156,35,101,156,35
5,29,West Ham,361,361,195,134,32,195,134,32
6,30,Tottenham,355,355,135,162,58,135,162,58
7,31,Everton,358,358,167,146,45,167,146,45
8,32,Manchester Utd,313,313,171,111,31,171,111,31
9,95,Luton Town,325,325,163,146,16,163,146,16
10,161,Wolves,284,284,135,118,31,135,118,31
11,162,Crystal Palace,323,323,155,148,20,155,148,20
12,163,Sheffield Utd,347,347,196,134,17,196,134,17
13,167,Manchester City,233,233,83,114,36,83,114,36
14,170,Fulham,371,371,186,157,28,186,157,28
15,174,Nott'ham Forest,331,331,200,110,21,200,110,21
16,183,Bournemouth,357,357,159,163,35,159,163,35
17,184,Burnley,280,280,135,124,21,135,124,21
18,189,Brentford,378,378,200,149,29,200,149,29
19,211,Brighton,288,288,123,138,27,123,138,27

In [19]:
with open('D:\Futbol\Analisis presion alata en PL 23-24\pkl\df_int_stats.pkl', 'wb') as archivo:
    pkl.dump(df_int_stats, archivo, protocol=pkl.HIGHEST_PROTOCOL)